# Ignore local Terraform provider directories in any folder
**/.terraform/

# Ignore state files (contains sensitive data)
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log
crash.*.log

# Ignore lock file (optional for beginners, but good practice to ignore while learning)
.terraform.lock.hcl

**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl